/out/
/target/
/*-init.clj
/*.log
/.cpcache/
.DS_Store
.*.icloud
.#*

# Codox output
/api-docs/

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/

