{:aliases
 {:dev
  {:extra-deps
   {thheller/shadow-cljs       {:mvn/version "2.12.4"}}
   :extra-paths ["test" "src"]}}
 :deps
 {org.clojure/clojurescript
  {:exclusions  [com.google.javascript/closure-compiler-unshaded
                 org.clojure/google-closure-library
                 org.clojure/google-closure-library-third-party]
   :mvn/version "1.10.844"}
  re-frame/re-frame                    {:mvn/version "1.2.0"}
  reagent/reagent                     {:mvn/version "1.0.0"}}
 :paths ["src"]}
